.hotel-form {

    display: grid;
    grid-template-columns: 15vw 15vw;
    grid-template-rows: auto auto 10vh auto;
   
    column-gap: 1vw;
    row-gap: 1vh;
    align-items: center;
    margin: 0 auto;


}

.hotel-form textarea {
    height: 10vh;
    width: 30vw;
    grid-column-start: 1;
    grid-column-end: 3;
    resize: none;
    outline: none;
    background-color: transparent;
    margin: 0 auto;
}

.hotel-form button{

    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
    width: 15vw;


}
fieldset{
    align-content: center;
    width: 30vw;
    margin: 0 auto;
    border:solid 1px dimgrey;
    border-radius: 1vh;
}

.hotel-form-photo{
    display: grid;
    grid-template-rows: auto auto 10vh auto;
   
    column-gap: 1vw;
    row-gap: 1vh;
    align-items: center;
    margin: 0 auto;

}

.hotel-form-photo label{


    width: 20vw;
    height: 5vh;
    margin: 0 auto;

}
.hotel-form-photo select{
    height: 5vh;
}


.hotel-form-photo button{
    margin: 0 auto;
    width: 15vw;
}